<h1>Order</h1>

<table class="table">
  <tr>
    <th>Product Name</th>
    <th>Quantity</th>
    <th>Image</th>
  </tr>
  <% @order.carted_products.each do |carted_product| %>
  <tr>
    <td><%= carted_product.product.item %></td>
    <td><%= carted_product.quantity %></td>
  </td>
  <% end %>


</table>







